name: flutter_event_limiter
description: >-
  Throttle and debounce for Flutter. Prevent double-clicks, race conditions, memory leaks.
  Universal Builders for ANY widget with automatic loading states.
version: 1.1.1
homepage: https://github.com/vietnguyentuan2019/flutter_event_limiter
repository: https://github.com/vietnguyentuan2019/flutter_event_limiter
issue_tracker: https://github.com/vietnguyentuan2019/flutter_event_limiter/issues

topics:
  - throttle
  - debounce
  - performance
  - widget
  - button

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.10.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_lints: ^3.0.0
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

# To add assets to your package, add an assets section, like this:
# assets:
#   - images/a_dot_burr.jpeg
#   - images/a_dot_ham.jpeg
